.map-container {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;    
}

  #legend {
    background: white;
    padding: 10px;
  }


.userTable {
    position: fixed;
    border: 1px solid lightskyblue;
    top: 150px;
    left: 20px;
    width: 300px;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
}


.logo {
    width: 200px;
    margin-left: 40px;
}